* {
  outline: none;
}

.createArticle {
  min-height: 600px;
  padding: 2em;
  background: #f9f9f9;

  .artilcleTitle {
    padding: 0.3em;
    font-size: 1.4em;
    font-weight: bolder;
  }

  img {
    max-width: 100%;
  }
  .textEditor {
    width: 100%;

    p,
    span {
      line-height: 1.5em;
    }
  }
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.publishButton {
  color: #fff;
  background: #c40018;
  padding: 5px 1.5em;
  border-radius: 4px;
  font-size: 0.9em;
  align-self: flex-end;
  cursor: pointer;
}

.textEditor * {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
}

.error {
  // background-color: rgb(253, 166, 166);
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  color: rgb(255, 140, 140);
  transition: 0.3 ease-in all;
}

.message {
  background-color: rgb(4, 209, 168);
  padding: 10px 20px;
  text-align: center;
}

.white {
  background: #fff;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  color: rgb(160, 160, 160);
  transition: 0.3 ease-in all;
}
