$red: #C40018;

.not_found_message {
  text-align: center;
  margin: auto;
  width: 100%;
}

.articles {
  padding: 30px 15px;
  display: block;
  width: 100%;

  @media only screen and (max-width: 800px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 600px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 5px;
    padding-right: 5px;
  }

  @media only screen and (max-width: 500px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media only screen and (max-width: 400px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 4300px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  & > div {
    display: none;
    transition: .5s ease-in-out;

    &.active {
      display: block;
    }

    & > div {
      &::after {
        content: '';
        display: block;
        clear: both;
      }

      display: inline-grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      padding: 15px 0;

      @media only screen and (max-width: 1100px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
      }

      @media only screen and (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }

      @media only screen and (max-width: 600px) {
        grid-gap: 10px;
      }

      @media only screen and (max-width: 480px) {
        grid-template-columns: 1fr;
      }

      @media only screen and (max-width: 400px) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
      }
    }
  }
}

.categoryBody {
  min-height: 70vh;
  width: 80%;
  margin: auto;
}

.content_pagination {
  text-align: center;
  display: block !important;

  .pagination {
    background: #FBFBFB;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    border: 1px solid #FBFBFB;
    list-style: none;
    padding: 15px 5px;
    margin: 0;

    li {
      display: inline-block;
      height: 30px !important;
      width: 30px !important;
      border: 1px solid $red;
      margin: 0 10px;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      transition: .3s ease-in-out;

      &.disabled {
        cursor: no-drop !important;
        background: #ccc;
        border: 1px solid #ccc;

        [role=button] {
          cursor: no-drop !important;
          background: #ccc;
          border: 1px solid #ccc;
        }
      }

      &:hover {
        background: $red;

        [role=button] {
          color: #fff;
        }
      }

      &.active {
        background: $red;
        border: 1px solid #fbfbfb;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

        [role=button] {
          color: #fff;
        }
      }

      [role=button] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $red;
        text-decoration: none;
        cursor: pointer;
        font-size: .9em;
      }
    }
  }
}