.textEditor {
  min-height: 500px;
  padding: 30px;
  max-width: 500px;
  margin: 60px auto;
  background: #F9F9F9;
  line-height: 25px;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
}