.container {
  margin: 100px auto;
}

.followers {
  max-width: 80%;
  margin: 10px auto 100px;
}

.heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.loading {
  display: block;
  text-align: center;
}
