@mixin box-shadow($val) {
  box-shadow: $val;
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
  -o-box-shadow: $val;
}

.article {
  border: 1px solid #eee;
  box-sizing: border-box;
  break-inside: avoid;
  @include box-shadow(0px 3px 6px 0px rgba(0, 0, 0, 0.103));

  a {
    color: #000;
    font-weight: bold !important;
    text-decoration: none !important;
    cursor: pointer !important;
  }

  .thumbnail {
    width: 100%;
    box-sizing: border-box;

    img {
      width: 100%;
      height: auto;
    }
  }

  .content {
    padding: 10px;

    h4 {
      padding: 0;
      margin: 0;
    }

    p {
      padding: 0;
      margin: 10px 0 0 0;
    }
  }

  .details {
    padding: 10px 10px 20px;

    .authorlink, p {
      padding: 0;
      margin: 0;
      color: #ABABAB;
      font-weight: bold;
      transition: .5s ease-in-out;
    }

    .authorlink:hover {
      color: #000;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      font-style: italic;
      font-size: .8em;
      color: #6D6868;

      li {
        display: inline-block;

        &:first-child {
          padding-left: 0;

          &::after {
            content: '.';
            display: inline-block;
            font-weight: 900;
            color: #6D6868;
            margin: 0 7px;
          }
        }
      }
    }
  }
}