.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.App-footer {
  background-color: #282c34;
  display: flex;
  height: 50;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

.landing-page {
  height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* USERS PROFILE PAGE */
.user-profile {
  margin: 50px auto;
  min-height: 100%;
  padding: 20px;
  width: 80%;
}

.faTwitter {
  color: #1DA1F2;
  font-size: 1.4em;
}

.faFacebook {
  color: #3B5998;
  font-size: 1.4em;
}

.faLinkedin {
  color: #0077B5;
  font-size: 1.4em;
}