* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  outline: none;
}

.App {
  box-sizing: border-box;
  outline: none;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* USERS PROFILE PAGE */
.user-profile {
  margin: 50px auto;
  min-height: 100%;
  padding: 20px;
  width: 80%;
}

.faTwitter {
  color: #1DA1F2;
  font-size: 1.4em;
}

.faFacebook {
  color: #3B5998;
  font-size: 1.4em;
}

.faLinkedin {
  color: #0077B5;
  font-size: 1.4em;
}