form {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 5px;
}


.field {
  padding: 10px 15px 20px;
  display: flex;
  flex-direction: column;

    textarea {
      background: #FCFCFC;
    }
}

.title {
  font-style: italic;
}

.submit {
  margin-top: 10px;
  align-self: flex-end;
}

.comment {
  margin-bottom: 20px;
}

.commenterImg {
  width: 50px;
  height: 50px;
  border-radius: 999px;
}

.timestamp {
  font-size: 12px;
  padding-left: .5rem;
}
