$red: #C40018;

header {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 0 80px;
  box-sizing: border-box;
  width: 100%;
  //border-bottom: 2px outset #eef;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.14);

.transparentBtn{
  border: none;
  background: transparent;
  }

  @media only screen and (max-width: 1100px) {
    padding: 0 25px;
  }

  @media only screen and (max-width: 1000px) {
    padding: 0 30px;
  }

  @media only screen and (max-width: 900px) {
    padding: 0 40px;
  }

  @media only screen and (max-width: 800px) {
   padding-left: 30px;
   padding-right: 30px;
  }

  @media only screen and (max-width: 400px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  &.clear::after {
    content: ' ';
    clear: both;
    display: block;
  }

  a {
    color: #777;
  }

  .header_logo {
    float: left;
    height: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    .logo {
      width: 100px;
    }
  }

  .header_half {
    float: right !important;
    height: 100%;

    .menu {
      padding: 0;
      margin-top: 15px;
      list-style: none;
      float: left;
      display: flex !important;

      button.mobileMenuCtrl {
        float: right !important;
        padding: 0 !important;
        margin: 0 !important;
        cursor: pointer;
        border: none !important;
        color: $red;
        font-size: 1.1em;
        display: none;
        background: none !important;

        @media only screen and (max-width: 900px) {
          display: block;
          float: left;       
        }
      }
      .transparentBtn {
        border: none;
        background: transparent;
      }
      img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      li {
        display: inline;
        padding: 0 10px;

        &.notification {
          font-size: 1.4em;
        }

        a {
          padding: 0;
          margin: 0;
          text-decoration: none !important;

          .avatar {
            width: 40px !important;
            height: 40px !important;
            border: 1px solid #eee !important;
            border-radius: 50% !important;
          }
        }
      }

      .profile {
          position: absolute;
          width: 200px;
          z-index: 1;
          background: #fff;
          border: 1px solid #eee;
          right: 10px;
          top: 60px;

          ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              display: block;
              padding: 8px 10px;
            }
          }
      }
      
    }

    .links {
      float: left;
      height: 100%;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;

      button.mobileMenuCtrl {
        float: left !important;
        padding: 0 !important;
        margin: 0 !important;
        cursor: pointer;
        border: none !important;
        color: $red;
        font-size: 1.1em;
        display: none;
        background: none !important;

        @media only screen and (max-width: 900px) {
          display: block;
          float: left;       
        }
      }

      ul {
        list-style: none;
        float: left;
        padding: 0;
        margin: 0;

        a {
          text-decoration: none;
        }

        li:not(.logged ul li) {
          margin: 0 5px;
          padding: 6px 15px;
          display: inline-block;
          border-radius: 4px;
          cursor: pointer;

          @media only screen and (max-width: 900px) {
            margin: 0;
            padding: 5px 10px;
          }

          @media only screen and (max-width: 400px) {
            margin: 0;

            &:first-child {
              padding-left: 5px;
            }
          }

          &:first-child {
            a {
              color: $red;
              font-weight: bold;
            }
          }

          &:last-child {
            background: $red;
            border: 1px solid $red;
            color: #fff;

            a {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .header_category {
    margin: auto;
  }
}