// VARIABLES
$red: #C40018;
$tab: 977px;
$mobile: 590px;

// MIXINS
@mixin tab {
  @media (max-width: #{$tab}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

.tabs {
  width: 100%;
  margin: auto;

  .tabButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    margin-bottom: -10px;
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;

    .tabLink {
      bottom: -1px;
      position: relative;
      padding: 6px 12px;
      cursor: pointer;
      list-style: none;
      outline: none;
      font-size: 1em;
      font-weight: 600;
      color: $red;
    }
  
    .tabLink:hover {
      color: rgb(228, 137, 137);
    }
  
    .hrStyling {
      margin-bottom: 30px;
    }
  }

  a {
    text-decoration: none;
    color: inherit;

    .articlesGrid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-auto-rows: minmax(70px, auto);
      grid-gap: 2em;
      border-bottom: 1px solid #959595;
      padding: 20px 50px;

      @include tab {
        display: grid;
        grid-template-columns: 50% auto;
      }

      div {
        @include mobile {
          grid-column: 1/3;
        }
      }

      .articleImage {
        width: 100%;
        height: auto;
      }
  
      .articleContents{
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
  
        div {
          h1 {
            font-family: 'Lato';

            @include tab {
              font-size: 1em;
            }
          }
  
          p {
            font-size: 0.9em;

            @include tab {
              font-size: 0.8em;
            }
          }
        }
  
        .summaryFooter {
          display: grid;
          grid-template-columns: 2fr 1fr;
          justify-items: start;
  
          .readTime {
            font-family: 'Lato';
            font-style: italic;
            font-size: 0.7em;
            color: #6D6868;
          }
  
          div {
            p {
              font-family: 'Lato';
              font-weight: bold;
              font-size: 0.7em;
              color: #6D6868;
            }
          }
        }
      }
    }  
  }
  
  .statsGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2em;
    border: 1px solid #959595;
    border-radius: 10px;
    padding: 20px 50px;
    margin-bottom: 20px;

    div {

      @include mobile {
        grid-column: 1/3;
      }

      h1 {
        @include tab {
          font-size: 1.4em;
        }

        @include mobile {
          font-size: 1.2em;
        }
      }
    }
    a {
      text-decoration: none;
      color: $red;
    }

    a:hover {
      color: #0013cd;
    }
  }

}
