$red: #c40018;

.article_text {
  color: #6d6868;
  font-size: 14px;
}

.content {
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 2.2rem;
  font-style: normal !important;
}

.divider {
  border: 0.9px solid $red;
}

.highlight {
  background: #eee;
}

.highlight {
  background: #eee;
}

.showCommentBox {
  position: absolute;
  color: #fff;
  border-radius: 4px;
  display: none;
  user-select: none;
}

.commentPrompt {
  border: 1px solid #eee;
  position: absolute;
  user-select: none;
  display: none;
  cursor: pointer;
  color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: .4s ease-in-out;

  span {
    color: #000;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
  }

  &.active {
    display: block;
  }

  &:hover {
    border: 1px solid $red;

    span {
      color: $red;
    }
  }
}

.showCommentBox{
  background: #eee;
  margin-left: 9%;
  width: 70%;
}

#articleBody span:target{
  background: #ee5;
}

.updateLink {
  color: #fff;
  display: block;
  background: #c40018;
  padding: 5px 1.5em;
  border-radius: 4px;
  font-size: 0.9em;
  float: left;
  cursor: pointer;
}

.updateLink:hover {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.shareCursor {
  opacity: .87;
}

.shareCursor:hover {
  cursor: pointer;
  opacity: 1;
}
