#container {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7) !important;
  z-index: 3;
  cursor: pointer;
  overflow-y: auto;
 }

 .modalClose {
   position: absolute;
   top: 10px;
   right: 10px;
   border: 1px solid #eee;
   background: #eee;
   color: #aaa;
   border-radius: 50%;
   width: 30px;
   height: 30px;
 }

 .xIcon {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 1.3em;
 }

.transparentBtn {
  border: none;
  background: transparent;
  color: #FFF;
}

#regModal {
  border: 3px solid red;
}

 .regContainer{
   background-color: #FFFFFF;
   width: 90%;
   max-height: 90vh !important;
   border-radius: 10px;
   margin: 10px auto !important;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 30px 20px;
   overflow-y: scroll !important;
 }
 .regContainer p:first-child {
   font-size: 18px;
   color: #333;
 }
 .regContainer p:last-child {
   color: #333;
 }

 .center{
   text-align:center;
   margin-bottom:0px;
   color: #55A;
 }

 .regContainer .regForm {
   margin-left: auto;
   margin-right: auto;
   width: 100%;
 }

 .regContainer .regForm input{
   padding-left: 10px;
   font-size: 15px;
   height: 45px;
 }
 .regContainer .regForm button {
   width: 97%;
   margin-bottom: 10px;
 }

 .regContainer .regForm input,
 .regContainer .regForm button {
   border-radius: 4px;
   border: 1px solid lightgray;
   outline: 0;
 }

 .regContainer .regForm button{
   color: white;
   background-color: #C40018;
   cursor: pointer;
  font-size: 15px;
   height: 50px;
 }

 .regContainer .regForm button:disabled{
  cursor: not-allowed; 
  background: #ccc;
  border: 1px solid #ccc;
}

 .socialLogin{
   width: 100%;
   height:auto;
   padding: 10px 0 15px 0;
 }

.socialLogin a, #regDivider{
 margin-left: auto;
 margin-right: auto;
 text-align:center;
 width:260px;
 }

 .socialLogin a{
   display: block;
   text-decoration: none;
   color: #fff;
   border: 1px solid rgba(0,0,0,0.05);
   padding: 12px;
   border-radius: 4px;
   font-size: 15px;
   margin-bottom: 20px;
 }

 .socialLogin a i{
   position: relative;
   float: left;
   width: 20px;
   top: 2px;
 }
 .socialLogin a:first-child{
   background-color: #00ACEE;
   margin-top: 30px;
 }
 .socialLogin a:nth-of-type(2){
   background-color: #49639F;
 }
 .socialLogin a:nth-of-type(3){
   color: #010204;
   border: 1px outset #eef;
 }

 #regDivider{
   padding-bottom: 15px;
   color: lightgray;
 }
 #regDivider div:first-child,
 #regDivider div:last-child  {
   width:30%;
   background-color: lightgray;
   height: 1px;
   margin-top: 7px;
   margin-right: 2%;
   margin-left: 12%;
 }

 #regDivider div:last-child {
   margin-left: 2%;
   margin-right: 12%
 }

 #regDivider div:first-child,
 #regDivider div:nth-of-type(2),
 #regDivider div:last-child {
   float: left;
 }

 #firstName, #lastName,#email,#password,#username{
  display: block;
}
 /* Error message */
 .errMsg{
   width: 100% !important;
   height: 15px;
   color: #C40018;
   font-size: 11px;
 }
 #submitBtn{
  margin-top: 15px;
 }

 @media only screen and (max-width: 480px){
  .regContainer .regForm input {
      border: 1px solid rgba(0,0,0,0.1);
      padding: 12px;
      border-radius: 4px;
      font-size: 15px;
      margin-bottom: 10px;
  }
  .regContainer p:last-child{
    padding-bottom: 20px;
  }
  .regContainer .regForm input,  .errMsg{
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    width:260px;
  }

  .regContainer .regForm button{
    margin-left: 13%;
    width: 74%;
  }

  .regContainer {
    height: auto;
  }

 .regForm{
  width: 100%;
  height:auto;
  padding: 10px 0 15px 0;
 }
}

@media only screen and (min-width: 600px) {
  #container{
     padding-top: 80px;
     background-color: #eee;
  }
 .regContainer{
   background-color: #FFF;
   width: 506px;
   border-radius: 10px;
   margin-left: auto;
   margin-right: auto;
 }

   .regContainer .regForm {
     width: 373px;
   }

   .formItemGroup {
   width: 100%;
 }

 .regContainer .regForm input[type="text"],
 .regContainer .regForm input[type="email"] {
   width: 100%;
   display: block;
 }

 .formItemGroup div:first-child ,
 .formItemGroup div:last-child{
   float: left;
   width: 45%;
 }
 .formItemGroup div:last-child {
  margin-left: 25px;
}

 #password{
   width: 97%;
 }
}
