.reset_password {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: none;

  &.active {
    display: block;
  }

  .reset_password_content {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90%;
  }
}